{% extends 'base.html'%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add" method="post">
        <p>Insert 1st number: </p><input type="text" name="num1">
        <p>Insert 2nd number: </p><input type="text" name="num2">
        <input type="submit" value="CALC">
    </form>
    </div>
    <script src="index.js"></script>
</body>
</html>

{% endblock %}